@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>
    Tworca tego blogu Raman Kuzmich<br>
    <br>
    Ta aplikacja jest stworzona na podstawie framewku ASP.NET jako projekt koncowy
    </p>